<div class="data-base-body d-flex row">
  <div class="data-base-menu">
    <div class="data-base-menu-buttons">
      <button (click)="addPlayer()" class="data-base-menu_button">
        Добавить
      </button>
      <div class="border"></div>
      <div (click)="deletePlayer()">
        <button class="data-base-menu_button" >
          Удалить
        </button>
      </div>
      <div class="border"></div>
      <button class="data-base-menu_button" (click)="getPlayer()">
        Импорт
      </button>
      <div class="border"></div>
      <button class="data-base-menu_button">
        Экспорт
      </button>
    </div>  
  </div>
  <hr class="line">
  <div class="navigation">
    <div class="paginator">
      <div class="paginator-button d-flex justify-content-between">
        <div>
            <span class="count">Все ({{playerCount.count}})</span>
          </div>
        <div>
          <span>{{playerPagStart}} - </span><span>{{playerPagEnd}}</span>
          <button class="button-prev" (click)="prev()"></button>          
          <button class="button-next" (click)="next()"></button>
        </div>
      </div>
    </div>
    <div class="players-list" *ngFor="let player of players" [class.selected-player]="player.parametrs.selected === true">
       <div class="d-flex player-not-change" >
          <div class="player-info" [class.showOff]="player.parametrs.changed === true">
                <div class="player-info-content d-flex" (click)="onSelect(player)" >
                    <div class="player-info_name">
                        {{player.player.name}} {{player.player.patronymic}} {{player.player.surname}}
                    </div>
                    <div class="player-info_age">
                        {{player.player.age}}
                    </div>
                    <div class="payment_enable" *ngIf="player.player.buyInDTO.buy">
                        <div class="player-info_payment player-info_payment-enable">
                          Взнос
                        </div> 
                        <div class="player-info_data">
                          {{player.player.buyInDTO.date}} /
                          {{player.player.buyInDTO.endDate}}
                        </div>
                        
                </div>
                <div class="payment_enable" *ngIf="!player.player.buyInDTO.buy">
                    <div class="player-info_payment player-info_payment-disable">
                        Взнос
                    </div> 
                    <div class="player-info_data-disable">      
                  </div>
                </div>
                
                </div>
                <div class="player-change-button" (click)="onChange(player)">                
                </div>
          
        </div> 
        <div class="player-change" [class.showOff]="player.parametrs.changed === false">
            <div class="player-info-change-content" >  
              <div class="player-info-change d-flex" > 
                  <div class="player-info_name-change">
                      <input  [(ngModel)]="player.player.name" placeholder="Имя">
                      <input  [(ngModel)]="player.player.patronymic" placeholder="Отчество">
                      <input  [(ngModel)]="player.player.surname" placeholder="Фамилия">
                  </div>
                  <div class="player-info_age-change">
                      <input  [(ngModel)]="player.player.age" placeholder="Возраст">
                  </div>
                  <div class="player-info_payment-change">
                      <input type=checkBox  [(ngModel)]="player.player.buyInDTO.buy" id="checkBox">
                      <label for="checkBox">Взнос</label>
                  </div>
                  <div class="player-info_data-change">
                      <input type="date" [(ngModel)]="player.player.buyInDTO.endDate" class="form-control" min="1000-01-01" max="3000-12-31" id="date" name="date" placeholder="Дата" required>
                  </div>
                  <button class="button-change" (click)="UpdateInfo(player)"></button>
                  <button class="button-cancel" (click)="Cancel(player)" ></button>
              </div>
            </div>
        </div>
    </div>
   <!-- 
  </div>
  <div class="scroll">
  <div class="players-list" *ngFor="let player of players" (click)="onSelect(player)" [class.selected-player]="player.selected === true">
      <div class="player-info" [class.showOff]="player.changed === true"> 
        <div class="player-info_name">
          {{player.name}} {{player.midname}} {{player.surname}}
        </div>
        <div class="player-info_age">
          {{player.age}}
        </div>
        <div class="payment_enable" *ngIf="player.payment">
          <div class="player-info_payment player-info_payment-enable">
            Взнос
          </div> 
          <div class="player-info_data">
            {{player.paymentData}} /
            {{player.paymentOffData}}
          </div>
        </div>
        <div class="payment_enable" *ngIf="!player.payment">
          <div class="player-info_payment player-info_payment-disable">
              Взнос
          </div> 
          <div class="player-info_data-disable">      
          </div>
        </div>
        <div class="player-change-button" (click)="onChange(player)">    
         
        </div>
      </div>
      <div class="player-info-change" [class.showOff]="player.changed === false">
        <div class="player-info-change-content" >      
          <div class="player-info_name-change" *ngIf="player.changed">
              <input  [(ngModel)]="player.name" placeholder="Имя">
              <input  [(ngModel)]="player.midname" placeholder="Отчество">
              <input  [(ngModel)]="player.surname" placeholder="Фамилия">
          </div>
          <div class="player-info_age-change">
              <input  [(ngModel)]="player.age" placeholder="Возраст">
          </div>
          <div class="player-info_payment-change">
              <input type=checkBox  [(ngModel)]="player.payment" id="checkBox">
              <label for="checkBox">Взнос</label>
          </div>
          <div class="player-info_data-change" *ngIf="player.changed">
              <input  [(ngModel)]="player.paymentData" placeholder="Взнос">
              /
              <input  [(ngModel)]="player.paymentOffData" placeholder="Окончание">
          </div>
          <div>
              <button (click)="onChange(player)">Change</button>
              <button >Cancel</button>
          </div>       
        </div>  
      </div>
    </div> 
  </div>
-->  
</div>  