<div class="game-component">
  <div class="game-component_button d-flex">
    <div class="d-flex position-relative">
      <div class="d-flex ">
        <div class="d-flex position-relative">
          <button type="button"
                  class="btn btn-outline-primary pre-import"
                  (click)="isCollapsed1 = !isCollapsed1"
                  [attr.aria-expanded]="!isCollapsed1"
                  aria-controls="collapseExample1">
            Импорт
          </button>
          <div id="collapseExample1"
               [ngbCollapse]="!isCollapsed1"
               class="position-absolute collapsed-menu">
            <div class="card">
              <div class="card-body my-settings">
                <div class="scroll">
                  <button *ngFor="let tournamentName of tournamentNames"
                          (click)="changeTournament(tournamentName.id); changeSet(tournamentName.id); isCollapsed1 = !isCollapsed1;">{{tournamentName.tournamentName}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="border"></div>
    <div class="d-flex position-relative">
      <button type="button"
              class="btn btn-outline-primary pre-export"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapseExample">
        Экспорт
      </button>
      <div id="collapseExample"
           [ngbCollapse]="!isCollapsed"
           class="position-absolute collapsed-menu">
        <div class="card">
          <div class="card-body my-settings">
            <div class="d-flex">
              <span> Имя:</span>
              <input class="form-control ml-2"
                     type="text"
                     [(ngModel)]="template" />
              <button (click)="isCollapsed = !isCollapsed; Save(template)">1</button>
              <button (click)="isCollapsed = !isCollapsed; template=selectedTournament">2</button>
            </div>
            <div class="scroll">
              <button *ngFor="let tournamentName of tournamentNames"
                      (click)="SaveAs(tournamentName.tournamentName); isCollapsed = !isCollapsed;">{{tournamentName.tournamentName}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="border"></div>
    <button class="btn btn-start">Начать игру</button>
  </div>
  <h1>{{tournamentInfo.tournamentSet.tournamentName}}</h1>
  <h2>
    Общее
  </h2>
  <div class="settings ">
    <div class="general-setting d-flex ">
      <div class="general-tournament-settings ">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Название</span>
          </div>
          <textarea [(ngModel)]="tournamentInfo.tournamentSet.tournamentName"
                    class="form-control row-3"
                    aria-label="With textarea"
                    placeholder="Название турнира"></textarea>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Описание</span>
          </div>
          <textarea [(ngModel)]="tournamentInfo.tournamentSet.tournamentDescription"
                    class="form-control"
                    aria-label="With textarea"
                    placeholder="Описание"></textarea>
        </div>
      </div>
      <!--<div class="buy-in-settings ">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Старт</span>
          </div>
          <textarea [(ngModel)]="tournamentInfo.Info.chipsAmount"
                    class="form-control"
                    aria-label="With textarea"></textarea>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Коммисия</span>
          </div>
          <textarea [(ngModel)]="tournamentInfo.Info.commission"
                    class="form-control"
                    aria-label="With textarea"></textarea>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Buy-in</span>
          </div>
          <textarea [(ngModel)]="tournamentInfo.tournamentSet.buyIn.buyIn"
                    class="form-control"
                    aria-label="With textarea"></textarea>
        </div>
      </div>
    </div>
    <div [class.showON]="tournamentInfo.rebuyBut === false"
         class="re-buy-setting  setting d-flex row col-12 flex-column">
      <div class="button">
        <button class="but-check"
                (click)="changeR()">Re-buy</button>
      </div>
      <div class="input-group col-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Сумма</span>
        </div>
        <textarea [(ngModel)]="tournamentInfo.tournamentSet.reBuy.buyIn"
                  class="form-control"
                  aria-label="With textarea"></textarea>
      </div>
      <div class="input-group col-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Коммисия</span>
        </div>
        <textarea [(ngModel)]="tournamentInfo.tournamentSet.reBuy.rake"
                  class="form-control"
                  aria-label="With textarea"></textarea>
      </div>
      <div class="input-group col-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Стек</span>
        </div>
        <textarea [(ngModel)]="tournamentInfo.tournamentSet.reBuy.stack"
                  class="form-control"
                  aria-label="With textarea"></textarea>
      </div>
    </div>
    <div [class.showON]="tournamentInfo.AddOnBut === false"
         class="addon-setting setting d-flex row col-12 flex-column">
      <div class="button">
        <button class="but-check"
                (click)="changeA()">Add-ons</button>
      </div>

      <div class="input-group col-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Сумма</span>
        </div>
        <textarea [(ngModel)]="tournamentInfo.tournamentSet.addOn.buyIn"
                  class="form-control"
                  aria-label="With textarea"></textarea>
      </div>
      <div class="input-group col-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Коммисия</span>
        </div>
        <textarea [(ngModel)]="tournamentInfo.tournamentSet.addOn.rake"
                  class="form-control"
                  aria-label="With textarea"></textarea>
      </div>
      <div class="input-group col-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Стек</span>
        </div>
        <textarea [(ngModel)]="tournamentInfo.tournamentSet.addOn.stack"
                  class="form-control"
                  aria-label="With textarea"></textarea>
      </div>
    </div>
  </div>-->
</div>